/* .wrapper {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  background-color: salmon;
  padding: 10px;
} */

.react-grid-item{
  background-color: #ccc;
  box-sizing: border-box;
  min-width: 0; /* 允许内容适应容器 */
}

/* 确保网格布局正确应用 */
.layout {
  position: relative;
  width: 100%;
}

